RewriteEngine on
RewriteCond %{HTTP_HOST} ^api.dev-php.site [NC,OR]
RewriteCond %{HTTP_HOST} ^www.api.dev-php.site$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]

SetEnv APPLICATION_ENV 'development'
# Custom API headers
RewriteRule .* - [env=API_Auth:%{HTTP:API_Auth}]
RewriteRule .? - [env==User-ID:%{HTTP:User-ID}]

<FilesMatch "\.(php)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>