Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

SetEnv APPLICATION_ENV 'development'
# Custom API headers
RewriteRule .* - [env=API_Auth:%{HTTP:API_Auth}]
RewriteRule .? - [env==User-ID:%{HTTP:User-ID}]
RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

<FilesMatch "\.(php)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>

